<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <file>./src/functions_include.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Promise Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
